@import '../../index.scss';

.tour{
    background: $mainGrey;
    border-radius: 0.8rem;
    margin: 1rem;
    .img-container{
        position: relative;
        img{
            width: 100%;
            display: block;
            border-top-left-radius: 0.8rem;
            border-top-right-radius:0.8rem;
        }
        .close-btn{
            position: absolute;
            display: inline-block;
            top:5%;
            right:5%;
            color:$mainGreen;
            font-size: 2rem;
            cursor: pointer;
            transition: all 0.3s linear;
            opacity: 0;
        }
        &:hover{
            .close-btn{
                opacity: 1;
            }
        }
    }
    .tour-info{
        padding: 1rem 0.5rem;
        h2{
            color:$mainGreen;
        }
        h3{
            color:$mainBlack;
            margin: 0.2rem 0 0.6rem;
        }
        p{
            span{
                color:$mainGreen;
                margin: 0.5rem;
                font-size: 1.2rem;
                cursor: pointer;
            }
        }
    }
}

@media(min-width:768px){
    .tour{
        flex: 0 0 calc(50% - 2rem);
    }
}

@media(min-width:1200px){
    .tour{
        flex: 0 0 calc(25% - 2rem);
    }
}